<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>DEMO_CHAT</title>
    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css">

  </head>

  <body>

      <div id="wrapper">

          <div id="loginForm">
              <div class="loginOuterContainer">
                  <div class="loginInnerContainer">
                      <div class="header">Login</div>
                        <div>
                          <input type="text" placeholder="Name" class="mt-20" id="txtUserName"/>
                          <input type="text" placeholder="Room name" class="mt-20" id="txtRoomName"/>
                        </div>
                      <input type="button" value="Register" class="mt-20" id="btnRegister"/>
                  </div>
              </div>
          </div>

          <div id="chatForm">
              <div id="left">

                  <div id="boxTitle">User Online</div>
                  <div id="boxContent"></div>

              </div>
              <div id="right">
                  <div id="sayHi">
                      <div id="currentUser"></div>
                      <input type="button" id="btnLogout" value="Logout"/>
                  </div>

                  <div id="listMessages"></div>
                  <div id="someoneTexting"></div>
                  <input type="text" id="txtMessage"/>
                  <input type="button" id="btnSendMessage" value="Send"/>

              </div>
          </div>

      </div>

  </body>


</html>
