body{background-color: #a9cbeb}
#wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #3b178f;
}
.loginOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color:#3b178f
}

.loginInnerContainer {
    width:60%
}
.header {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    width: 100%
}

#btnRegister {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

#txtUserName {
    border-radius: 0;
    padding: 15px 15px;
    width: 79%;
}
#txtRoomName {
    border-radius: 0;
    padding: 15px 15px;
    width: 79%;
}
.mt-20 {
    margin-top: 20px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .loginOuterContainer {
        height: 100%;
    }
    .loginInnerContainer {
        width: 90%;
    }
}

btnRegister:focus {
    outline: 0;
}
#chatForm {
  width: 50%;
  height: 80%;
  length: 800px
}
#left, #right:{
  min-height: 800px
}
#left{
  width:30%;
  float:left;
  background-color: #e2e6ba;
  border-radius: 5px;
}
#right{
  width:70%;
  float:right;
  background-color: #d4f9f8;
  border-radius: 5px;
}
#boxTitle{
  border: solid 1px black;
  padding: 5px;
  text-align: center;
  font-weight: bold
}
#boxContent{
  border: solid 1px black;
  border-top: none;
  padding: 5px;
  text-align: center
}
#sayHi {
  text-align: right
}
#currentUser {
  text-align: center
}
#listMessages{
  height:300px;
  background-color: #fcead4;
  margin-bottom: 15px;
  text-align: left;
  overflow: auto;
}
#txtMessage {
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  border: solid 1px black;
  width: 70%;
  height: 100%
}
#message {
  background-color: blue;
  text-align: right;
  border: solid 1px
}
#someoneTexting {
  float:bottom;
  font-style: italic
}
